* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  padding: 10px;
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  margin-top: 30px;
}

.outer-c {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}

.inner-c {
  display: flex;
  align-items: self-end;
  justify-content: space-between;
  gap: 2rem;
  margin: 20px;
  flex-direction: column;
  height: 88%;
}

.form-input {
  appearance: none;
  border-left: 1px solid rgba(27, 31, 35, 0.15);
  border-top: 1px solid rgba(27, 31, 35, 0.15);
  border-bottom: 1px solid rgba(27, 31, 35, 0.15);
  border-right: none;
  border-radius: 6px 0 0 6px;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  margin-bottom: 10px;
}

.form-btn {
  border: 1px solid rgba(27, 31, 35, 0.15);
  padding: 6px 16px;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 0 6px 6px 0;
  translate: -10px 0px;
}

.btn {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn:hover,
.form-input:hover,
.form-btn:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn:disabled,
.form-input:disabled,
.form-btn:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.btn:active,
.form-input:active,
.form-btn:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn:focus,
.form-input:focus,
.form-btn:focus {
  outline: 1px transparent;
}

.btn:before,
.form-input:before,
.form-btn::before {
  display: none;
}

.btn:-webkit-details-marker,
.form-input:-webkit-details-marker,
.form-btn:-webkit-details-marker {
  display: none;
}
